/* You can add global styles to this file, and also import other style files */
body{
  margin-top: calc(48px + 15px);
}
.form-signin{
width: 100%;
max-width: 330px;
padding: 15px;
margin: auto;
.checkbox {
  font-weight: 400;
}
.form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
  &:focus{
    z-index: 2; 
  }
}
// input[type="email"] {
//   margin-bottom: -1px;
//   border-bottom-right-radius: 0;
//   border-bottom-left-radius: 0;
// }
// input[type="password"] {
//   margin-bottom: 10px;
//   border-top-left-radius: 0;
//   border-top-right-radius: 0;
// }
  .alert{
    font-size: .75rem;
  }
}

nav.navbar{
  .dropdown-menu{
  transform: translate(-20px, 2.5px);
  }
}

.btn{
  border-width: 2px; 
}

.list-card, .single-card{
  h1,h2,h3,h4,h5,h6,p,span{
    margin: 0;
  }
}

// .single-card{
  // img{
  //   max-width: 302px;
  // }
  
// }

.text-small{
  font-size: .85rem;
}

.form-regular{
  .form-control{
    margin: .75rem 0;
  }
}

.dropdown-team-invites{
  font-size: .5rem;
  position: absolute;
  right: 38px;
  top: 3px;
  display: inline-block;
}

.team-invites{
  font-size: .5rem;
  position: relative;
  right: 33px;
  top: -15px;
  display: inline-block;
}

.link-label{
  display: block;
}

.text-muted{
  color:rgba(255,255,255,0.6) !important;
}