<div class="row">
    <div class="col">
       <h1>List of players</h1>
       <div class="input-group mb-3">
         <div class="input-group-prepend">
           <span class="input-group-text" id="basic-addon1">
              <i class="material-icons">search</i>
           </span>
          </div>
          <input class="form-control" placeholder="Filter players" type="text" [(ngModel)]="playerSearch">
        </div>
    </div>
 </div>
 <div *ngIf="playerList.length == 0; else playersContainer">There are currently no available players listed.</div>
 <ng-template #playersContainer>
  <div class="row">
    <div class="col col-sm-6 col-md-4 col-xl-3" *ngFor="let player of playerList | filterPlayers: playerSearch">
      <p *ngIf="player === -1;else playerCard">No matching players found.</p>
      <ng-template #playerCard>
        <div class="card list-card mb-4">
          <img class="card-img-top" src="http://localhost:3333/users/avatar/{{player.username}}" alt="{{player.username}} avatar" />
          <!-- <img *ngIf="player.avatar;else unknownAvatar" class="card-img-top" src="{{player.avatar}}" alt="{{player.username}} avatar" />
          <ng-template #unknownAvatar>
              <img class="card-img-top" src="assets/images/unknown.png" alt="{{player.username}} avatar" />
          </ng-template> -->
          <div class="card-body">
            <h5 class="card-title">{{ player.username }}</h5>
            <p>{{player.firstname}} {{player.lastname}}</p>
            <p class="text-muted">{{ player.dateofbirth | age }}</p>
            <!-- <p class="text-muted">{{ player.dateofbirth }}</p> -->
            <a class="btn btn-outline-primary" routerLink="../profile/{{player.username}}">Profile</a>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
 </ng-template>