<div class="portal-container">
  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" routerLink="/app/">Team Up!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link"routerLinkActive="active" routerLink="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/app/teams">Teams</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/app/players">Players</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/app/list-player">List yourself</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/app/list-team">List your team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/app/my-teams">
            My teams
            <div class="badge badge-secondary team-invites">{{ teamInvites }} invite<span *ngIf="teamInvites != 1">s</span>
            </div>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link" routerLinkActive="active" routerLink="./login">Login</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn;else dropdownDiv">
          <a class="nav-link" routerLinkActive="active" routerLink="./register">Register</a>
        </li>
        <ng-template #dropdownDiv>

            <li class="nav-item" *ngIf="isAdmin">
                <a class="nav-link" routerLinkActive="active" routerLink="/admin/">Admin</a>
            </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <span *ngIf="user">{{user.username}}</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="/app/my-teams">
                <div class="badge badge-primary dropdown-team-invites">{{ teamInvites }} invite<span *ngIf="teamInvites != 1">s</span>
                </div>
                <span class="link-label">
                  My Teams
                </span>
              </a>
              <a class="dropdown-item" routerLink="/app/edit-profile">Edit Profile</a>
              <!-- <a class="dropdown-item">{{ teamInvites }}</a> -->
              <a class="dropdown-item" (click)="userLogout()">Logout</a>
            </div>
          </li>
        </ng-template>

      </ul>
    </div>
  </nav>
  <main role="main" class="container">
    <router-outlet></router-outlet>
  </main>
</div>
