<h4></h4>
<div class="jumbotron text-center">
  <h1 class="display-4">Kickstart your esports career today!</h1>
    <p class="lead">We will help you find a team, or find new members for your current team.</p>
    <hr class="my-4">
    <!-- <p>Get started searching!</p> -->
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3 text-center mb-4">
        <div class="card">
          <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
          <div class="card-body">
            <h5 class="card-title">Find a team</h5>
            <p class="card-text text-muted">Use this feature to find yourself a team, to get started with esports for real.</p>
            <a class="btn btn-primary" href="#" routerLink="../teams" role="button">Look for team</a>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 text-center mb-4">
        <div class="card">
          <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
          <div class="card-body">
            <h5 class="card-title">Find players</h5>
            <p class="card-text text-muted">Use this feature, if you already have a team, but perhaps the roster isn't full yet.</p>
            <a class="btn btn-primary" routerLink="../players" role="button">Look for players</a>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 text-center mb-4">
        <div class="card">
          <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
          <div class="card-body">
            <h5 class="card-title">List as player</h5>
            <p class="card-text text-muted">Use this feature to list yourself as an availabe player, so teams searching can find you.</p>
            <a class="btn btn-primary" href="#" routerLink="../list-player" role="button">List as player</a>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 text-center mb-4">
        <div class="card">
          <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
          <div class="card-body">
            <h5 class="card-title">List as team</h5>
            <p class="card-text text-muted">Use this feature to list your team as looking for players, so teamless players can find you.</p>
            <a class="btn btn-primary" href="#" routerLink="../list-team" role="button">List as team</a>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>