<div class="row justify-content-center">
    <div class="col col-md-6 col-lg-4">
        <form class="form-signin" id="frmLogin" [formGroup]="loginForm" (submit)="loginFormSubmit(loginForm, $event)" novalidate>
            <h1 class="h3 mb-3 font-weight-normal text-center">Login</h1>
            
            <label for="txtLoginUserName" class="sr-only">User name</label>
            <div class="alert text-center alert-danger my-0" role="alert" *ngIf="loginForm.controls.username.errors?.required && loginForm.controls.username.touched">
                You must fill out your user name
            </div>
            <input type="text" id="txtLoginUserName" formControlName="username" class="form-control" placeholder="User name" autofocus="">
            
            <label for="txtLoginPassword" class="sr-only">Password</label>
            <div class="alert text-center alert-danger my-0" role="alert" *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.touched">
                You must fill out your password
            </div>
            <input type="password" id="txtLoginPassword" formControlName="password" class="form-control" placeholder="Password">

            <button id="btnLogIn" class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="loginForm.invalid">Sign In</button>
            <p>Didn't register yet? <a class="regular-link" routerLink="../register">Click here to register.</a></p>
          </form>
    </div>
</div>